<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
	<connectionStrings>
		<!--Data Source=WORKMATE;Initial Catalog=SereneForm_Default_v1;Integrated Security=True-->
		<!--Data Source=XSERVER1;Initial Catalog=CMCPS_Default_v2;Persist Security Info=True;User ID=sa;Password=***********-->
		<add name="Default" connectionString="Data Source=WORKMATE; Initial Catalog=SereneForm_Default_v1; Integrated Security=True"/>
		<add name="Northwind" connectionString="Data Source=WORKMATE; Initial Catalog=SereneForm_Default_v1; Integrated Security=True"/>
	</connectionStrings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" hostingModel="inprocess" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
